<h2>Topですね</h2>
<h3>Book List</h3>

<% @books.each do |book| %>
  <p>内容</p>
  <ul>
    <li>タイトル: <%= book.title %></li>
    <li>本文: <%= book.body %></li>
    <li>詳細: <%= link_to book.title, "/books/#{book.id}" %></li>
  </ul>
<% end %>

<%= link_to "ルートTOP", "/" %>