<h1>掲示板</h1>
<p>lorem ipsum dolor sit amet, consectetur adip</p>

<button type="button" class="btn btn-primary">Primary</button>


<h1>Ajax#index</h1>
<p id="hoge">赤色になるよ</p>

<script>
  $("#hoge").css("color","red")
</script>